  <div class="wrapper">
  <h3><%= "Conversation between #{@time_trial.attendance_a.student.first_name} #{@time_trial.attendance_a.student.last_name} and #{@time_trial.attendance_b.student.first_name} #{@time_trial.attendance_b.student.last_name}" %></h3>
  <p>Hold your device between you and your partner, push record and start talking.</p>
  <div id="controls">
   <button id="recordButton">Record</button>
   <button id="pauseButton" disabled>Pause</button>
   <button id="stopButton" disabled>Stop</button>
  </div>
  <div id="formats"></div>
  <p> When you have finished talking, push stop and submit your recording. </p>
  <h3>Recordings</h3>
  <ol id="recordingsList">
    <li><%= audio_tag @time_trial.audio, controls: true %></li>
  </ol>

  <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

  <%= simple_form_for(@time_trial, url: update_audio_path)  do |f| %>
    <%= f.input :audio, wrapper_html: { class: 'hide' } %>
  <% end %>
  </div>
