<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1">
      <h3>Ready to start first time trial</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <%= @time_trial.attendance_a.student.first_name %>
    </div>
    <div class="col-sm-3">Vs</div>

    <div class="col-sm-3">
      <%= @time_trial.attendance_b.student.first_name %>
    </div>
  </div>

</div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3">
    <%= link_to "Next trial", new_lesson_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>
