<div class="container">
  <h3>This is the Show Page for the time trials</h3>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-3">
      <%= @time_trial.attendance_a.student.first_name %>
    </div>
    <div class="col-sm-1">Vs</div>

    <div class="col-sm-3">
      <%= @time_trial.attendance_b.student.first_name %>
    </div>
  </div>

</div>
  <div class="row">

  </div>

</div>
