// Specific CSS for your home-page

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('landing_page.jpg');
    color: white;
    height:75vh;
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 40px;
    h2 {
      font-style:italic;
    }
    p {
      padding-left:10px;
    }
    h3 {
      padding-left:30px;
      font-style: italic;
    }
  }

.land_card {
  margin: 10px 0;
  p {
    margin-top:5px;
  }
}
