.new_lesson {
  h1 {
    font-size: 32px;
  }
  .create_lesson p {
    text-align:center;
    margin-top: 20px;
  }
}

.new_lesson {
  padding-top:30px;
  .image {
    text-align: center;
    padding-top:60px;
  }
}


