

.row-eq-height {
    display: flex;
  }

  #chronoExample {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.time-trial-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
}
