// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";


.container {
  min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.wrapper {
  margin-top: 4em;
}

.schedule {
  background-color:$light-yellow;
  h4 {
    text-decoration: underline;
    font-size:1.0em;
    font-weight:bold;
  }
}

.schedule_details {
  background-color: $light-yellow;
  padding-bottom:10px;
  font-size: 0.9em;
}



// .signup {
//   background-color:green;
// }
// .student_avt {
//   border: 1px solid #999999;
//   display: flex;
//   align-items:space-between;

// }

