<div class="container">
  <div class="table-wrapper">
    <%= render 'layouts/user_wrapper' %>
    <%= render 'layouts/user_course_wrapper' %>

    <%= render 'layouts/student_time_trial_audio', student: current_student %>
    <%= render 'layouts/time_trial_mistakes', student: current_student %>

  </div>
</div>

<!-- REMEMBER HOMEWORK  -->
