
<div class="banner">

<h2>the complete solution for
teaching communication skills</h2>
<p>Teach real communication skills
through spontaneous conversations</p>
<p>Capture audio of student conversations for reflective learning</p>
<p>Automatic grade calculations</p>
<h3>sign up to get started today</h3>
</div>
