
<div class="banner">
<div class="row">
<h2>the complete solution for teaching communication skills</h2>
<p><%= image_tag 'check.png'%> Teach real communication skills through spontaneous conversations</p>
<p><%= image_tag 'check.png'%> Capture audio of student conversations for reflective learning</p>
<p><%= image_tag 'check.png'%> Automatic grade calculations</p>
<h3><%= image_tag 'arrow.png'%> sign up to get started today</h3>
</div>
</div>
<div class="container">
<h2>How It Works</h2>
<p>Speakit choose two students at random to talk in front of the class</p>
<p>They start talking about the class topic and try to keep talking for 1-2 minute</p>
<p>The teacher listens and stops students when they make a mistake, giving them 10 seconds to repair it</p>
<p>Students get chances to fix their mistakes but if they can't the conversation ends and another pair is chosen to speak</p>
<p>Conversations are recorded using student's smartphones to review for homework</p>
<br>
</div>
