<!-- # <div class="container">
# 	<div class="wrapper">
# 		<div class="row">
# 			<div class="col-sm-12">
# 				<table>
# 					<thead>
# 						<tr>
# 							<th>
# 								<%#= image_tag @, class: "avatar", alt: "avatar" %>
# 							</th>
# 						</tr>
# 					</thead>
# 				</table>
# 			</div>
# 		</div>
# 	</div>
# </div> -->