<!-- # <div class="container">
# 	<div class="table-wrapper">
# 		<div class="row">
# 			<div class="col-sm-2">
# 			  <%#= image_tag current_teacher.photo, class: "avatar" %> </div>
# 			</div>
# 		</div>
# 	</div>
# </div> -->