/* Main navbar */

.navbar-speakit_live {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    background: white;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Logo */
  // .navbar-speakit_live-brand img {
  //   width: 301px;
  //   height: 70px;
  // }

  /* User Avatar */
  .navbar-speakit_live .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  /* Right section */
  .navbar-speakit_live-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:0.8em;
    a {
      color:black;
    }
    a:hover {
      color:#f84f44;
      text-decoration: none;
    }
  }

  /* Basic navbar item */
  .navbar-speakit_live-item {
    cursor: pointer;
    padding: 0 20px;
  }



