<div class="teacher-wrapper">
  <div class="row">
    <div class="col-xs-2">
      <%= image_tag current_teacher.photo_url, class: "avatar", alt: "avatar" %>
    </div>
    <div class="col-xs-4 name">
      <h3><%= current_teacher.first_name %> <%= current_teacher.last_name %></h3>
    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-2">
    </div>
  </div>
</div>
